<div class="caja">
    <p>Calendario</p>
    <div class="calendar">
        <div class="box-calendar">
            <div class="hea-calendar">
                <div>
                    <button (click)="changeMonth(-1)" class="btn-prev">Antes</button>
                </div>
                <h1>{{dateSelectCa | date:'MMMM, yyyy'}}</h1>
                <div>
                    <button (click)="changeMonth(1)" class="btn-next">Siguiente</button>
                </div>
            </div>
            <ol>
                <li *ngFor="let day of dayss" class="day-name">{{day | slice:0:3}}</li>

                <li (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'" *ngFor="let day of monthSelect;let first = first">
                    <span>{{day?.value}}</span>
                </li>
            </ol>
        </div>
    </div>
    <div class="agregar">
        <!-- <button mat-raised-button color="primary" (click)="agregar()" [routerLink]="['recordatorio', 1]"> -->
        <button mat-raised-button color="primary" [routerLink]="['/recordatorio', id]">
            <span class="material-icons">
            add
            </span>
        </button>
    </div>
</div>
<div class="recordatorios">

    <div class="col caja_re">

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Titulo</th>
                    <th>Ciudad</th>
                    <th>Hora</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of recordatoriosFiltra">
                    <td class="color">
                        <div class="circulo" [style.background]="item.color"></div>
                    </td>
                    <td>{{item.titulo}}</td>
                    <td>{{item.ciudad}}</td>
                    <td>{{item.fecha}}</td>
                    <td>
                        <button class="btn btn-primary mr-2">Editar</button>
                        <button class="btn btn-danger ml-2">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
<!-- <mat-spinner></mat-spinner> -->